* {
	--bg: #1f2228;
	--sectionBg: #2e3139;
	--sectionBorder: #444455;
	--textLight: #c4cbda;
	--text: #bdc3d1;
	--lineNumber: #717888;

	color: var(--text);
	font-family: "Courier New", Courier, monospace;
	font-weight: 500;
}

.main {
	background-color: var(--bg);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1%;

	padding: 1rem;
	box-sizing: border-box;
}

.section {
	background-color: var(--sectionBg);
	border: 2px solid var(--sectionBorder);
	border-radius: 8px;

	padding: 0.5rem 1rem;

	box-sizing: border-box;
}

.code_regs_wrapper {
	height: 75%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1%;
}

.codeSection {
	height: 100%;
	width: 65%;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.regsSection {
	height: 100%;
	width: 35%;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.memorySection {
	height: 25%;
	width: 64.5%;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sectionTitle {
	color: var(--textLight);
	font-weight: 600;
}

.codeArea {
	flex: 1;
	max-width: 100%;

	display: flex;
	flex-direction: row;
	align-items: start;
	overflow: auto;
}

.grow-wrap {
	flex: 1;
	display: grid;
}
.grow-wrap::after {
	content: attr(data-replicated-value) " ";
	white-space: pre-wrap;
	visibility: hidden;
}
.grow-wrap::after,
.code {
	flex: 1;
	background: none;
	border: none;
	outline: none;
	resize: none;
	padding: 0px;

	line-height: 1.2rem;
	/* overflow: hidden; */

	grid-area: 1 / 1 / 2 / 2;
}

.line-numbers {
	width: 20px;
	margin-right: 0.5rem;
	text-align: right;
}

.line-numbers span {
	counter-increment: linenumber;
}

.line-numbers span::before {
	content: counter(linenumber);
	display: block;
	color: var(--lineNumber);

	line-height: 1.2rem;
}

.registers {
	/* background-color: red; */
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;

	border-collapse: collapse;
}

.registers,
.registerName,
.registerValue {
	text-align: center;
}
.registerValue:nth-of-type(2) {
	border-right: 1px solid var(--sectionBorder);
}

table tr:nth-child(odd) {
	background-color: var(--bg);
}

.memory {
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;

	border-collapse: collapse;
}

.memory,
.memoryAddress,
.memoryValue {
	text-align: center;
}
.memoryValue {
	border-left: 1px solid var(--sectionBorder);
}
